@import url("https://github.backroomswiki.cn/Old_BHL/css/liminal-impact.css");

:root {
   --logo-image: url("https://zero0-cn.wikidot.com/local--files/start/retouch_2026081412563039.png");
   --header-title: "The Backrooms Z0";
   --header-subtitle: "你将会来到这里...";
}
